* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    width: 650px;
    height: 650px;
    border: solid black 10px;
}

.grid .cell {
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}