* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.grid {
    width: 660px;
    height: 660px;
    border: 20px black solid;
}

.grid > * {
    border-left: 1px rgb(156, 156, 156) solid;
    border-bottom: 1px rgb(156, 156, 156) solid;
}