* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Helvetica', sans-serif;
}

.content.container {
    display: flex;
}

.title {
    font-size: 5rem;
    padding: 50px;
    margin: 25px;
}

.grid {
    width: 41.25rem;
    height: 41.25rem;
    min-width: 41.25rem;
    border: 1.5rem black solid;
}

.grid > * {
    border-left: 1px rgb(156, 156, 156) solid;
    border-bottom: 1px rgb(156, 156, 156) solid;
}

.settings.panel {
    display: flex;
    row-gap: 1.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
}

.mode {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1.5rem;
    border-radius: 15px;
    background: #000000;
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #808080;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    width: 3rem;
    height: 3rem;
}

.mode.current:not(button#clear-mode) {
    background-color: #000000;
    color: #ffffff;
}

input[type='color'] {
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    background-color: #ffffff;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }